.services {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 6%;
}
.services h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #1a73e8;
}

.services h2 {
    font-size: 35px;
    color: #1a73e8;
}

.services p {
    color: #777;
    padding: 10px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 30%;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    margin-bottom: 150px;
    box-sizing: border-box;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    font-size: 40px;
    color: #1a73e8;
}

.course-col h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .services{
        height: auto;
        margin-top: 300px;
    }
    .row {
        flex-direction: column;
        margin-top: 0;
    }
    .course-col{
        margin-bottom: 20px;
    }
}