.all_projects_link{
    width: 80%;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 20px;
}

.all_projects_link a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
   
}
.all_projects_link a:hover{
    color: orange;
}
.logo{
    color: #FFFFFF;
}
@media(max-width: 700px){
    .all_projects_link{
        width: 100%;
        flex-direction: row;
        gap: 5px;
    }
    .all_projects_link a{
        font-size: 10px;
    }
}