.logos{
    margin: 0;
    padding: 0;
    height: auto;
    
}
.container1 .box22{
    width: 250px;
    height: 250px;
    background-position: top;
    transition: ease-in-out 2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    margin: auto;
}
.modal{
    background: rgb(255, 196, 0);
    padding: 5px;
    margin-top: 10px;
}
.modal_btn{
    width: 100%;
    color: #fff;
    margin-left: 120px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 80px;
}
.modal_btn:hover{
    font-size: 25px;
}
