.summary-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../images/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner_overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
.row_summary{
    margin-top: 20%;
}

.col_summary{
    display: flex;
    align-items: center;
    gap: 200px;
    text-align: center;
    padding: 0 6%;
    display: block;
    color: #fff;
}

.counter {
    font-size: 40px;
    font-weight: 800;
}

.summary_counter {
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 858px) {
    .row_summary {
        flex-direction: column;
        margin-top: 200px;
    }
}