.all_web_sites{
    margin: 0;
    padding: 0;
    height: auto;
    
}
.all_web_sites_titel{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}
.container .box{
    width: 250px;
    height: 200px;
    background: #000;
    background-position: top;
    transition: ease-in-out 2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container .box.box1{
    background: url(../../images/laptop_parts.png);
    background-size: cover;
}
.container .box.box2{
    background: url(../../images/doctors_portal.png);
    background-size: cover;
}
.container .box.box3{
    background: url(../../images/laptop_sellers.png);
    background-size: cover;
}
.container .box.box4{
    background: url(../../images/photographer.png);
    background-size: cover;
}
.container .box.box5{
    background: url(../../images/web_design_template1.jpg);
    background-size: cover;
}
.container .box.box6{
    background: url(../../images/web_design_template2.jpg);
    background-size: cover;
}
.container .box:hover{
    background-position: bottom;
}
.ws_btn22{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 166px;
}
.ws_btn22 a{
    background:rgba(3, 146, 229, 0.6);
    padding: 5px 10px;
    cursor: pointer;
}


@media(max-width: 1200px){
    .container{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
    }
}

@media(max-width: 700px){
    .container{
        width: 100%;
        display: block;
        height: auto;
    }
    .container .box{
        margin-top: 50px;
    }
}